@model BlogPageResponse
<div class="row gap-3">
    <h2 class="mb-2">@Model.Category</h2>
    @foreach (var blog in Model.BlogResponses)
    {
        <a class="col-3" asp-action="Detail" asp-route-id="@blog.Id" style="width: 250px; cursor: pointer;">
            <img width="250" height="150" style="object-fit: cover;" src="@blog.CoverImage" alt="Alternate Text"/>
            <div style="font-size: 13px; font-weight: 500;" class="mt-1">@blog.Name</div>
            <div class="d-flex gap-3 align-items-center">
                <div>
                    <img src="/assets/icons/clock.svg" width="13" alt="Alternate Text"/>
                    <span style="font-size: 11px;">@blog.Date</span>
                </div>
                <div>
                    <img src="/assets/icons/eye.svg" width="13" alt="Alternate Text"/>
                    <span style="font-size: 11px;">@blog.ViewCount</span>
                </div>
            </div>
        </a>
    }
</div>