@model BlogViewModel
@{
    var blog = Model.Blog ?? null;
    var categories = Model.Categories;
    var tags = Model.Tags;
    var blogTags = "";
    
    if (blog is not null)
    {
        foreach (var blogTag in blog.Tags)
        {
            blogTags = blogTag.TagId + "," + blogTags;
        }
    }
}
<form asp-controller="Blog" asp-action="@(blog != null ? "Edit" : "Add")" class="w-100" method="post">
    <div class="form-group">
        @if (@blog != null)
        {
            <input type="hidden" value="@blog.Id" class="form-control" name="id">
        }
        <div>
            <label for="category">Kateqoriya</label>
            <select class="form-control" name="categoryId" id="category">
                @foreach (var category in categories)
                {
                    <option value="@category.Id">@category.Title</option>
                }
            </select>
        </div>
        <div>
            <label for="name">Başlıq</label>
            <input type="text" value="@(blog == null ? "" : blog.Name)" class="form-control" id="name" name="name" placeholder="Başlıq">
        </div>
        <div>
            <label for="coverImage">Şəkil</label>
            <input data-img="slider_items_translate_img_en"
                   class="form-control input-length file-upload-info img-select"
                   maxlength="200"
                   name="coverImage"
                   id="slider_items_translate_img_en"
                   type="hidden" value="@(blog == null ? "" : blog.CoverImage)" placeholder="Şəkili daxil edin" />
            <img class="fm_modal_open"
                 style="border-radius: 2px; border: 1px solid #0b1751; width: 100%; max-height: 200px; object-fit: cover"
                 id="img-slider_items_translate_img_en"
                 data-url="/filemanager/dialog.php?type=1&amp;popup=1&amp;field_id=slider_items_translate_img_en&amp;sort_by=date"
                 src="https://fraktal.az:8443/assets/images/default-img-01.jpg" alt="Şəkili daxil edin" />
        </div>
        <div>
            <label for="description">Məzmun</label>
            <textarea class="form-control" placeholder="Açıqlama" name="description" id="description" cols="30" rows="10">@(blog == null ? "" : blog.Description)</textarea>
        </div>
        <div>
            <label for="tagsSelect">Tags</label>
            <div id="blogTagList"></div>
            @if (blog != null)
            {
                <div class="d-none" id="blogTags">@blogTags</div>    
            }
            <input type="hidden" name="tags">
            <input type="text" autocomplete="off" class="form-control" id="tagInput">
            <div class="tag-container d-none position-absolute border bg-white" id="tagContainer">
                @if (tags.Count > 0)
                {
                    foreach (var tag in tags)
                    {
                        <p class="tag-item" data-tag-name="@tag.Value">@tag.Text</p>
                    }
                }
            </div>
        </div>
    </div>
    <button type="submit" class="btn @(blog == null ? "btn-success" : "btn-primary") mt-2">
        @(blog == null ? "Əlavə et" : "Dəyiş")
    </button>
</form>
